source http://tfs2:8080/tfs/DefaultCollection/_packaging/KermiPackages/nuget/v3/index.json
source https://api.nuget.org/v3/index.json

nuget BinarySerializer 8.1.3
nuget Newtonsoft.Json 11.0.2
github Mr-Markus/unpi-net:7c3a5d481255845b8cb35676ab1f2d02e3364169